body {
    background-color: black;
    font-family: Georgia;
}

.jumbotron {
    background-image: url("../images/belly.jpg");
    opacity: 0.95;
    background-size: 100% 100%;
    
}

.well {
    background-color: thistle;
}

.panel {
    background-color:palevioletred;
}

